.mainBtn {
	width: 100%;
	height: 70px;
	padding: 0;
	border-radius: 9px;
}

.mainBtn p {
	font-family: var(--inter_light);
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 5px;
	cursor: pointer;
	padding: 1.5rem 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.solid {
	background-color: #fed36a;
	color: #000;
}

.solid:hover {
	background-color: #fed56c99;
}

.outlined {
	background-color: #0000;
	color: #fff;
	border: 1px solid #fff;
}

.buttonIconClass {
	margin-right: 1rem;
}

@media screen and (min-width: 1000px) {
}
