@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

@font-face {
	src: url("./assets/fonts/PilatExtended-Bold.ttf");
	font-family: "PilatExtended";
}

:root {
	--inter_light: "Inter", sans-serif;
	--pilar--extended: "PilatExtended";
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--inter_light);
	background-color: #212832;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
